#address {
  display: none;
}

#webaddress {
  position: relative;
  color: #aaa;
  font-family: Menlo, monospace, sans-serif;
  font-size: 80%;
  top: -1.7em;
  /* margin-left: 10em; */
  align-content: flex-start;
}

#webaddress a {
  text-decoration: none;
}

.title {
  margin: auto;
  width: 50%;
  text-align: center;
}
.title h1 + p {
  position: relative;
  /* left: -1.6em; */
  font-style: italic;
  font-size: 110%;
  top: -0.9em;
  align-content: flex-start;
}

.cv {
  display: flex;
  flex-direction: column;
}

main h1,
h2,
h3,
h4 {
  max-width: 100%;
  font-weight: 400;
  font-family: Cousine, Verdana, sans-serif;
}

.cv .title a {
  color: #aaa;
  text-decoration: none;
}

.cv a:hover {
  color: #39f;
}

.info-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.info-row-title-row {
  display: flex;
  width: 100%;
  max-width: 45%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
}

.info-row-title-row h3 {
  font-weight: 600;
  font-size: 110%;
  margin-bottom: 1em;
  color: #a00;
  text-align: end;
}

.info-row-content-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.info-row-content-side {
  margin-bottom: 1em;
  margin-right: 1em;
  width: 100%;
}

.info-row-content-side ul {
  margin: 0;
}
.row {
  display: flex;
  flex-direction: row;
  /* width: 97.5%; */
}
.row code {
  font: normal normal;
  font-size: 70%;
  font-family: Menlo, monospace, sans-serif;
  background-color: transparent;
  border: none;
  color: #aaa;
  width: 100%;
  max-width: 50%;
  flex-wrap: wrap;
  white-space: wrap;
  margin: 0;
  text-align: end;
  margin-right: 10px;
  margin-top: 0.3em;
  flex-grow: 1;
}
.row > li {
  margin-bottom: 0.8em;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 95%;
  max-width: 20em;
  margin-left: 50px;
}
.row > li > ul {
  margin: 0;
  padding: 0;
  margin-left: 2em;
}
